<br><br><br><img src="https://i.imgur.com/VNHXPlL.png" alt="Welcome to our RPG">
<img src="https://i.imgur.com/RHYhO35.png" alt="Character Creator"></br></br></br>

<h1><center>Project Group 11-2</center></h1>

<center><%= link_to 'Characters List', characters_path %></center>
