<br><br><br><br><br><br><br><br><br><br><br><br><img src="https://i.imgur.com/65Ao7j0.gif" alt="Welcome to our RPG Character Generator">
<!-- Source for the animation above are from http://billeager.com/ebtext/ -->
</br></br></br></br></br></br>

<h1><center>Team Arrow (Group 11-2)</center></h1>

<center class="label"><%= link_to 'Characters List', characters_path %></center>

