// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
    font-family: "Trebuchet MS";
    color: #58F26C;
}

input[type=text] {
    width: 10%;
    padding: 12px 12px;
    border: 4px solid #ccc;
    background-color: #f7dec8;
}

textarea {
    width: 25%;
    height: 200px;
    padding: 12px 12px;
    border: 4px solid #ccc;
    background-color: #f7dec8;
    resize: none;
}

input[type=button], input[type=submit] {
    background-color: #f7dec8;
    border: none;
    color: #58F26C;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

table, th, td {
    font-family: "Trebuchet MS";
   border: 1px solid black;
}

table{
    width: 50%;
}

th{
    background-color: #58F26C;
}

.ani_format{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

#animations{
    text-align: center;
}

a, a:hover {
    color: #58F26C;
}

.ghost{
    visibility: hidden;
}

.text,.ghost{
    display: inline-block;
}

#error_explanation li {
    list-style-type: none;
}
