// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



h1 {
    text-align: center;
    font-size: 25px;
    color: green;
}

body
{
    background: #f7ab65;
}